<script src="draw.js"></script>
<script type="text/javascript">

</script>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<style type="text/css">
    canvas{border:1px solid green;}
</style>
<script src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
<script src="../static/recongize.js"></script>
</head>
<body>
<div align="center">
    <input type="file" name="file" accept="image/png,image/jpg,image/jpeg" style="border:2px solid #da7533c0" id="fileselect" onchange="SelectImage();"/>
</div>
<div align="center">
    <canvas id="myCanvas" width="800" height="600" style="border:2px solid #6699cc"></canvas>    
</div>
<script type="text/javascript">
    
</script>
</body>
</html>
